@charset "utf-8";

body {
	background-color:#e6fbff; /* bright blueish */
}
img
.lightestBlue {
	color:#e6fbff;
}

.darkBlue {
	color: #223054; /* dark blue */
}

.almostBlack {
	color:rgba(4,6,30,1.00);
}

/* change foundation icon color */
i[class^="fi"]{
	color:#007C94;
	font-size:1.5em;
}

.mediumDarkBlueBkgrnd {
	background-color:#007C94;
}
	
.mediumDarkBlue {
	color:#007C94;
}
	
.DarkBlueBkgrnd {
	background-color: #223054;
}
	
/*All accordion tabs are open when Javascript is disabled
  added one line of CSS for make this work:*/
.js .accordion-content {
	display: none;
}


@media only screen and (max-width: 39.99em) {
   #servicesBanner li.listItem a {
      font-size:1em;
	  color:green;	
	  font-weight:bold;
      background-color:#223054;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
   }
  
   #servicesBanner li.listItem a:hover {
      font-size:1em;
	  color: #007C94;	
	  font-weight:bold;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
   }

  .phoneNumber h4 {
	  color:white;
	  background-color:black;
	  font-weight:bold;
	  margin-top:-2em;
	  text-align:center;
	  padding-left:5.25em;
	  padding-right:1.25em;
  }
}

@media only screen and (min-width: 40.063em) {

   .logoWrapper {
      position: relative; 
   }

   .logoWrapper .logo {
      width: 127px;
      height: 57px;
      position: absolute;
      left:6em;
      top: .5em;	
      margin-left: 1em;
   }

   li.listItem a {
      font-size:1.25em;
      color:white;
      font-weight:bold;
      background-color:#223054;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
   }
 
   #servicesBanner li.listItem a:hover {
      font-size:1em;
	  color: #007C94;	
	  font-weight:bold;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
   }
  
   .phoneNumber h4 {
	  color:white;
	  font-weight:bold;
	  float:right;
      margin-top:-1.75em;
	  margin-right:2em;
	  padding-left:1.25em;
	  padding-right:1.25em;
   }
}

#moreText {
	display:none;
}
  
p {
	margin-top:1em;
	margin-bottom:1em;
}
	
figcaption {
	font-weight:bold;
	text-align:center;
	margin-top:0.75em;
	margin-bottom:2em;
}	
	 
/* top nav bar customer formatting */
.top-bar, .top-bar ul {
	color:white;
	line-height:1.7;
	background-color: #223054;
}

.sbox {
	border-style: solid;
	border-width: 0.25em;
	border-color:darkBlue;	
	padding:1.0em;
}

.top-bar-right {
	font-weight:bold;	
}

.top-bar-right ul {
	margin-right:2em;
}

.top-bar-left h4 {
	width:50%;
	color:white;
	line-height:1.4;
	margin-left:.5em;
	display:inline;
	position:relative;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;	
}

#mainMenu a {
	color:white;
	font-size:1.25em;
	text-shadow: 0 3px 0 rgba(41,44,47, 0.6);
}

#mainMenu a:hover {
	color: #007C94; /* mediumDarkBlue  */
	font-weight:bold;
}

.full-width-container {
	width:100%;
}

/*--------------------------------*/
/*--------- index.html------------*/	
/*--------------------------------*/ 
#servicesBanner {
	margin-top:1em;
	margin-bottom:2em;
	padding-bottom:1em;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12);	   
}
	 
#servicesBanner h2,h3 {
	text-align:center;
	font-weight:700;
	text-shadow: 0 1px 0 rgba(175,236,239,.60); /* color: #AFECEF; */
}
	
#servicesBanner li.listItem {
	border:thin solid #ccf6ff;
	border-radius:0.5em;		
}

.extra-top-spacing {
	margin-top:.75em;	
}

.extra-bottom-spacing {
	margin-bottom:1em;
}
	
#mainImage { 
	margin-top:6em;
}
	
#mainParagraph  h2 h3,h4 {
	font-weight:bold;
	text-shadow: 0 1px 0 rgba(175,236,239,.60); /* color: #AFECEF; */	
}

#mainSection2Paragraph  h2 h3 h4 {
	font-weight:bold;
	text-shadow: 0 1px 0 rgba(175,236,239,.60); /* color: #AFECEF; */		
}

#mainSection3Paragraph  h2 h3 h4 {
	font-weight:bold;
	text-shadow: 0 1px 0 rgba(175,236,239,.60); /* color: #AFECEF; */		
}	

#mainParagraph, #mainSection2Paragraph, #mainSection3Paragraph {
	margin-top:1em;
	font-size:1.25em;
}

#mainSection2Image, #mainSection3Image {
	margin-top:2em;
}

#MainHeader, #MainSection2Header, #MainSection3Header {
	text-align:center;
	font-weight:bold;	
	vertical-align:text-bottom;
	color: #223054; /* dark blue */
	margin-top:1em;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12);
}
	
#mainCarousel, #mainCarousel2 {
	width:100%;
	margin-left:0em;
	margin-right:0em;
}
	 
#mainCarousel,#mainCarousel2 h2 {
	text-align:center;
	width:100%;
}
	  
.bx-wrapper img {
	margin: 0 auto; /* center */
}

.bx-wrapper .bx-viewport { 
	background: #E6FBFF;   
}   
	
/*--------------------------------*/
/*-------- services.html----------*/
/*--------------------------------*/
.AdjoiningImages  {
	float:left;
	margin-bottom:1em;
	border-style: solid;
	border-color: white;
	border-width: thick;
	border-radius: 1.5em;
}

#servicesHeaderRow img {
	display:inline;
	vertical-align:middle;
	margin-bottom:0.5em;
}

#servicesHeader {
	text-align:center;
	font-weight:bold;	
	vertical-align:text-bottom;
	color: #223054; /* dark blue */
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12); 	 
}

#servicesCompanyHeader,#servicesCompanyHeader2 {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12);
	text-align:center;
	font-weight:bold;	
	vertical-align:text-bottom;
	color: #223054; /* dark blue */		 	 	 
}
	
#servicesMenu h4 h3 h2 {
	font-weight:bold;
}

#accordion h3 {
	font-size: 1.5em;
	letter-spacing: .20em;
}

/* #heirloomPainting */
#ui-id-1 {
	max-height: 900px;
}

/* #kitchenRemodel  */
#ui-id-4 {
	max-height: 800px;
}

/* #customWoodwork */
#ui-id-5 {
	max-height: 600px;
}

/* #floorInstallation */
#ui-id-7 {
	max-height: 1500px;
}

/* #expertContractingConsulting */
/* #handymanHelp */
/* #cleaningHelp */
#ui-id-9, #ui-id-10, #ui-id-11 {
	max-height: 200px;
}

.ui-accordion-content {
    max-height: 1200px;
    overflow: auto;
    min-height: 100px;
}

h3.ui-accordion-header {
	background-image:url(../img/MucciBathroomThinTile.jpg);
	color:black;
	font-weight:bold;
	border:thin solid #ccf6ff;
	border-radius:0.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    word-break: keep-all;
}

h3.ui-accordion-header.ui-state-active {
	color:white;
	font-weight:bolder;
	border-color:#007C94; /* medium dark blue */
	text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
	word-break: keep-all;
}

h3.ui-accordion-header.ui-state-hover {
	color:white;
	font-weight:bolder;
	text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
}	

#servicesTestimonials h4 {
	margin-top:2.0em;
	color:#2A3D85; /* dark blue */
}
	
blockquote {
	margin-top:1em;
	margin-bottom:2em;
	margin-left:1.0em;
	padding: 1em;
}

/*about.html*/
#MainCard img {
	display: block;
	margin: auto;
	width: 100%;
}

.CardPic img {
	display:block;
	align-content:center;
}

.card-divider {
	text-align:center;font-weight:600;
	background-color:#007C94; 
	font-size:2em;
}

.card {
	margin-top:2em;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12);
	border-radius:2px;
}

#AboutHeaderSpan {
	text-align:center;
	margin-top:1em;
}

#AboutHeader {
	text-align:center;
	font-weight:bold;	
	vertical-align:text-bottom;
	color: #223054; /* dark blue */
	margin-top:1em;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgb(0,0,0,0.12);
}

.card-section p ul {
	font-size:1.25em;
}


/* FOOTER */
.footer {
	background-color: #292c2f;
	text-align: center;
	font-size: 1.2rem;
	padding: 4rem; 
}

.footer p.slogan {
	color:#e6fbff;
	font-size: 1.8rem;
	margin: 0 0 1rem; 
}

.footer p.copywrite {
	color:#e6fbff;
	font-size: 0.875rem;
	margin: 0; 
}

.footer .links a {
	list-style: none;
	font-weight: bold;
	color: #ffffff;
	padding: 3rem 0 2rem;
	margin: 0; 
}

.footer .links a::after {
	content: "•";
	padding: 0 0.4rem 0 0.8rem; 
}

.footer .links a:last-child::after {
	content: "";
	padding: 0 0.4rem 0 0.8rem; 
}
