@charset "utf-8";

body {
	background-color:#e6fbff; /* bright blueish */
}

.lightestBlue {
	color:#e6fbff;
}

.darkBlue {
	color: #2A3D85; 
}

.mediumDarkBlueBkgrnd {
	background-color:#007C94;
	}
	
.test {
background-color:rgba(0,125,148,0.50)
}
/*All accordion tabs are open when Javascript is disabled

I added one line of CSS for make this work:*/

.js .accordion-content {
	display: none;
}

/*.light_blue_bkgrd {
	background-color: #AFECEF; 
}

.dark_blue_bkgrd {
	background-color: #2A3D85; 
}
.light_blue {
	color: #AFECEF; 
}

.medium_dark_blue {
	color: #007C94; 
}*/

@media only screen and (min-width: 40.063em) {

  .logoWrapper {
   position: relative; 
   }

  .logoWrapper .logo {
    width: 127px;
    height: 57px;
    position: absolute;
    left:6em;
	top: .5em;	
    margin-left: 1em;
 /*   right: -3em;*/
 /*    top: -20px;*/
 }


/*
  .top-bar-section ul.right {

    width: 50%;

    padding-left: 60px; }



  .top-bar-section ul.right li {

    float: left; }



  .top-bar-section ul.left {

    width: 50%;

    padding-right: 60px; }*/

}

/* top nav bar customer formatting */
.top-bar, .top-bar ul {
		color:white;
		line-height:1.7;
}

.top-bar-right {
	font-weight:bold;
/*	  text-shadow: 0 3px 0 rgba(41,44,47, 0.8);*/
	
}

.top-bar-right ul {
	margin-right:2em;
}
/*.top-bar-right li {
		  text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
}*/
/*.top-bar-right li a:hover {
	font-weight:bold;
}*/

.top-bar-left h4 {
	width:50%;
    color:white;
    line-height:1.4;
    margin-left:.5em;
	display:inline;
	position:relative;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;	
}

/*.phoneNumber h4 a {*/
.phoneNumber h4 {
/*		background-color:#007C94;*/ /* med darker blue */
/*		top:2em;
		right:2em;*/
		color:white;
		font-weight:bold;
		float:right;
		/*position:fixed;*/
		margin-top:2em;
		margin-right:-15.5em;
	/*	margin-left:0.5em;*/
/*		margin-right:0.25em;*/
		padding-left:1.25em;
		padding-right:1.25em;
		background-image:url(../img/mucciBathroomTileStrip.jpg);
        text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
/*		background-image:url(file:///C|/web_development/MUCCI%20WEBSITE/web%20files/sample/img/mucciBathroomTileStrip.jpg);
*/  
}
.phoneNumber h4:hover {
	color:white;
}
		
/*	#mainMenu {
		color:#AFECEF;
	}*/

    #mainMenu a {
		color:white;
		font-size:1.25em;
		 text-shadow: 0 3px 0 rgba(41,44,47, 0.6);
	}

    #mainMenu a:hover {
		color:black; 
		  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
/*		font-weight:bold;*/
	}

/* to add background color hero area */
.full-width-container {
  width:100%;
/*  background-color:#DFF5CF;*/	
}

	.extra-top-spacing {
      margin-top:.75em;	
    }

   .extra-bottom-spacing {
      margin-bottom:1em;
   }

mainSection2Paragraph h4 {
	font-weight:bold;
}

/* adding extra spacing for callouts */
/*.callout-padding > section div.callout {
	padding-left:.5em;
	padding-right:.5em;
	margin:.5em;
}
*/

    li.listItem a {
		 color:black;
		 font-weight:bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	 }
	
	li.listItem a:hover {
		color:white; 
		font-weight:bolder;	
				 text-shadow: 0 3px 0 rgba(41,44,47, 0.4);
	 }
	
	figcaption {
		margin-bottom:2em;
	}
	
	#mainImage { 
	   margin-top:4em;
	 }
	 
	#mainParagraph, #mainSection2Paragraph {
	   margin-top:1em;
	   font-size:1.25em;
	 }

    #mainSection2Image, #mainSection3Image {
		margin-top:2em;
	}
	
	#mainCarousel {
       text-align:center;
	   width:100%;
	   margin-left:0em;
	   margin-right:0em;
	 }
	 
	 #mainCarousel h2 {
		 text-align:center;
		 width:100%;
	 }	 
	 
	 #servicesHeaderRow img {
		 display:inline;
		 vertical-align:middle;
		 margin-bottom:0.5em;
	 }

	 #servicesHeader {
		 text-align:center;
		 font-weight:bold;	
		 vertical-align:text-bottom;
		 color:white;
		 text-shadow: 0 3px 0 rgba(41,44,47, 0.8);	 	 
	 }
     #servicesHeaderSpan, #servicesCompanyHeaderSpan {
		 background-image:url(../img/mucciBathroomTileStrip.jpg);
	     border:thin solid #ccf6ff;
		 border-radius:0.5em;
	 }

	 #servicesCompanyHeader {
	     text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
		 text-align:center;
		 font-weight:bold;	
		 vertical-align:text-bottom;
		 color:white;		 	 
	 }
	 	
	  #servicesMenu img {
		  align-content:center;
		  margin-left:4em;
	  }
/*	 #carouselPhone {
		 background-color:#559AAA;
		 width:100%;
	 }
	*/ 
/*	 #carouselPhone h4 {
		 margin-top:.75em;
		 margin-bottom:1em;
		 color:white;
		 font-weight:bold;
	 }
	*/ 	 
	 figcaption {
		 font-weight:bold;
		 text-align:center;
	     margin-top:0.75em;
	 }	
	  
	#servicesBanner {
	   margin-top:1em;
	   margin-bottom:2em;
	   font-size:1.25em;
	 }
	 #servicesBanner li.listItem a {
		  background-image:url(../img/chestStrip.jpg);
	/*	 background-image:url(../img/pxbyWoodPanelingStrip1.jpg);*/
	 }
/*	img {
		margin-top:1em;
	}	
	*/
	
	#servicesBanner li.listItem {
	 border:thin solid #ccf6ff;
	 border-radius:0.5em;		
	}
	#servicesMenu h4 h3 h2 {
		font-weight:bold;
	}
	
/*	.gradient {
  background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
}*/
    
	#accordion h3 {
		font-size:1.5em;
	}

/*	     background-image:url(../../../../../xampp/htdocs/rwd_raw/pxbyWoodPanelingStrip1.jpg);*/
	h3.ui-accordion-header {
		background-image:url(../img/mucciBathroomSmallTileBottomThinStrip.jpg); /*t3.jpg);*/
		/*	#00bfe6	rgb(0, 191, 230)*/
/*		background-color:rgba(0,191,230,.7); too bright*/
/*		background-color:#AFECEF; /* light bright blue */
/*        background-color:rgb(0, 170, 204);*/	/* #00aacc	rgb(0, 170, 204) */
		color:black;
		font-weight:bold;
			border:thin solid #ccf6ff;
			border-radius:0.5em;
/*				background-color:#ccf6ff*/;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	}
	
/*	h1 {
  text-align: center;
  font: bold 80px Sans-Serif;
  padding: 40px 0;
}
*/
/*.simple {
  background:#91877b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}*/
	h3.ui-accordion-header.ui-state-active {
	 /*   background-color:#007C94;*/ /* medium dark blue */
	/*	background-color:#559AAA;*/ /* medium blue */
		color:white;
		font-weight:bolder;
		border-color:#007C94;
		  text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
	}
	
	h3.ui-accordion-header.ui-state-hover {
/*		background-color:#007C94;*/ /* medium dark blue */
		color:white;
		font-weight:bolder;
/*		border-color:#559AAA;*/
  text-shadow: 0 3px 0 rgba(41,44,47, 0.8);
	}	

	p {
		margin-top:1em;
		margin-bottom:1em;
	}

    #servicesTestimonials h4 {
		margin-top:2.0em;
		color:#2A3D85; /* dark blue */
	}
	
	blockquote {
        margin-top:1em;
		margin-bottom:2em;
	    margin-left:1.0em;
		padding: 1em;
	}

.footer {

  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }

  .footer p.slogan {
	  color:#e6fbff;
/*    color: #8d9093;*/
    font-size: 1.8rem;
    margin: 0 0 1rem; }

  .footer p.copywrite {
	  color:#e6fbff;
/*    color: #8f9296;*/
    font-size: 0.875rem;
    margin: 0; }

  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }

    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }

    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }


/*mid size screens*/
/*@media screen and (min-width: 768px) {
  .top_bar_left img {
      width:20%;
	  height:20%;
  }

}*/
/*larger screens*/
/*@media screen and (min-width: 970px) {
  .top_bar_left img {
      width:30%;
	  height:30%;
  }
}*/

